*.asv
**/*.dep

archivedCases
platforms
src/fileFormats/lnInclude
src/finiteVolume/lnInclude
src/postProcessing/functionObjects/utilities/lnInclude/
src/sampling/lnInclude/
src/turbineModels/turbineModelsStandard/lnInclude/
src/turbulenceModels/incompressible/LES/lnInclude/

**/Make/linux64*

*Cases/**/processor*
*Cases/**/postProces*
*Cases/**/turbineOutp*
*Cases/**/*.e0*
*Cases/**/*.e1*
*Cases/**/*.e2*
*Cases/**/*.e3*
*Cases/**/*.e4*
*Cases/**/*.e5*
*Cases/**/*.e6*
*Cases/**/*.e7*
*Cases/**/*.e8*
*Cases/**/*.e9*
*Cases/**/*.o0*
*Cases/**/*.o1*
*Cases/**/*.o2*
*Cases/**/*.o3*
*Cases/**/*.o4*
*Cases/**/*.o5*
*Cases/**/*.o6*
*Cases/**/*.o7*
*Cases/**/*.o8*
*Cases/**/*.o9*
*Cases/**/log.*
*Cases/**/*.log
*Cases/**/*.gz
*Cases/**/system/controlDict
*Cases/**/constant/polyMesh/boundary
*Cases/**/constant/boundaryData
*Cases/**/constant/sources
*Cases/**/0
*Cases/**/*00